body
{
    text-align: center;
    background-color: white;
}


.my_nav_bar ul li a 
{
    color: rgb(255, 255, 255) !important;
}
p
{
    font-size: 20px;
    color: rgb(0, 0, 0) !important;
}
h5{
    font-size: 25px;
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i
{
float: right;
}